<!-- Notifications -->
<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <i class="material-icons">notifications</i>
        <span class="label-count">{{ notifications|length }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">NOTIFICATIONS</li>
        <li class="body">
            <ul class="menu">
              {% for notification in notifications %}
                <li>
                    <a href="{{notification['link']}}">
                        <div class="icon-circle bg-{{notification['icon_color']}}">
                            <i class="material-icons">{{notification['icon']}}</i>
                        </div>
                        <div class="menu-info">
                            <h4>{{notification['message']}}</h4>
                            <p>
                                <i class="material-icons">access_time</i> {{notification['access_time']}}
                            </p>
                        </div>
                    </a>
                </li>
              {% endfor %}
            </ul>
        </li>
        <li class="footer">
            <a href="javascript:void(0);">View All Notifications (placholder)</a>
        </li>
    </ul>
</li>
<!-- #END# Notifications -->
