<!-- Jquery Core Js -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap Core Js -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.js') }}"></script>

<!-- Select Plugin Js -->
<script src="{{ url_for('static', filename='plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ url_for('static', filename='plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{{ url_for('static', filename='plugins/node-waves/waves.js') }}"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="{{ url_for('static', filename='plugins/jquery-countto/jquery.countTo.js') }}"></script>

<!-- SweetAlert Plugin Js -->
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert.min.js') }}"></script>

<!-- Custom Js -->
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
