{% extends 'base.html' %}

{% set title='Dashboard' %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="body bg-cyan">
            <div class="col-xs-12 col-sm-6 font-bold">
                <h2>DASHBOARD PLACEHOLDER</h2>
            </div>
            <p>This is where our dashboard will go.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis ultricies diam ac aliquet. Curabitur tristique dapibus sapien, vel lacinia nunc rhoncus ut. Donec a tincidunt massa, tempus egestas purus. Vestibulum vel arcu in augue ultricies imperdiet eu ac mauris. Etiam pharetra a erat ac gravida. Quisque nisl enim, egestas id molestie a, tincidunt vitae nunc. Quisque ut vestibulum ligula, eu molestie leo.

              Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam mattis lobortis risus. Nunc lacinia fringilla mi sed sodales. Etiam tincidunt lorem in arcu pellentesque, et faucibus dui vestibulum. Nulla facilisi. In semper tristique volutpat. Integer nec ullamcorper orci, ultrices tempus metus. Integer eget aliquam nulla. Praesent egestas dolor vel mattis interdum. Ut ac mi imperdiet, interdum lectus sed, dictum velit.

              Phasellus a laoreet metus. Integer euismod ex in orci pulvinar varius. Curabitur felis lacus, tincidunt tempus consectetur eget, auctor a elit. Vivamus mi tortor, rhoncus vitae dui eu, tincidunt placerat mauris. Nam lobortis varius commodo. Morbi imperdiet mollis tortor vel finibus. Sed elementum dui eget nulla euismod, non viverra nisl porttitor. Curabitur eu est in est feugiat convallis. Nam congue massa et ultricies sollicitudin. Maecenas scelerisque rutrum dui eget euismod. Praesent lobortis ut tellus vitae egestas. Aenean et erat ligula. Maecenas lacinia ornare finibus. Vivamus vel placerat nunc, non finibus metus. Nulla efficitur enim sem, eu pellentesque massa commodo ac. Praesent interdum sapien nec ligula vulputate porttitor.

              Curabitur sollicitudin, enim non pellentesque maximus, nibh nisi sodales purus, non rutrum ex lacus id neque. Vivamus dapibus molestie facilisis. Nulla efficitur cursus lectus. Proin porttitor imperdiet sapien, quis luctus ligula condimentum ac. Sed ut placerat nisi. Sed lacus lorem, aliquet eget accumsan eget, ullamcorper a augue. Vivamus commodo est vitae ornare auctor. Duis nec est ut arcu auctor mollis vel non sapien. Nunc quis augue vitae nulla aliquam mollis eu vitae nunc. Nullam vel nisi eu erat dapibus ullamcorper sed egestas lorem. Nunc augue leo, tempor ut erat non, feugiat commodo justo. Aenean hendrerit justo velit, et tempor leo auctor sit amet.

              Sed purus metus, tincidunt eget eros non, molestie sollicitudin felis. Proin pretium ac arcu quis cursus. Sed iaculis leo eu massa iaculis ornare. Quisque fermentum imperdiet quam, at malesuada neque vulputate nec. Praesent vel neque dui. Phasellus commodo sem in leo fringilla, a pulvinar augue tincidunt. Nam mollis elit vitae tristique vehicula. Nullam sed vestibulum velit. Integer in mauris sed ante efficitur rutrum.
            </p>
        </div>
    </div>
</div>
{% endblock %}
